<h1>Upcoming Events:</h1>

<ul>
  <% @upcoming_events.each do |event| %>
    <li>
      <%=link_to event.title, event_path(event)%>
      - <%=event.event_date%>
    </li>
  <% end %>
</ul>
<h1>Completed Events:</h1>

<ul>
  <% @previous_events.each do |event| %>
    <li>
      <%=link_to event.title, event_path(event)%>
      - <%=event.event_date%>
    </li>
  <% end %>
</ul>
<%if user_signed_in?%>
  <p><%= link_to "Create New Event", new_event_path%></p>
<%end%>