<h2><%= @event.title%> Details</h2>
<p>
    <strong>Date: </strong><%= @event.event_date%><br>
    <strong>Place: </strong><%= @event.event_location%><br>
    <strong> Created By: </strong><%= link_to @event.creator.email, user_path(@event.creator)%>
    <%if current_user==@event.creator%>
    <li>
      <%=link_to "Edit", edit_event_path(@event) %>
      <%= link_to "Delete", event_path(@event), data: {
        turbo_method: :delete,
        turbo_confirm: "Are you sure?"
      } %>
    </li>
    <%end%>

</p>
